* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(231, 229, 229);
  background-color: #111827;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
  background-image: linear-gradient(to left, #e66aff 0%, #2db7fc 100%);
  /* background-image: linear-gradient(to top left, #e66aff 20%, #2db7fc 90%); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: clamp(30px, 10vw, 45px);
  /* mobile ,weight , desktop*/
}
/* rgb(184, 253, 236), */
.content {
  /* font-size: clamp(18px, 1vw, 20px); */
  font-size: 1rem;
  margin: 4% 10% 5% 10%;
}
.Button {
  border-radius: 4cm;
  background-color: #46c5fb;
  color: white;
  font-weight: bold;
  padding: 9px 13px;
  text-align: center;
  border: none;
  display: grid;
  margin: auto;
  font-size: 18px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.Button:hover {
  background-color: #111827;
  color: #46c5fb;
  /* border: 0.1px solid #46c5fb; */
}
.image {
  margin-left: 13%;
  margin-bottom: 5%;
  float: left;
  width: 30%;
  display: flow-root;
}
.describe {
  text-align: left;
  display: block;
  font-size: 1rem;
}
.problem {
  position: static;
}
.content-text {
  font-size: large;
  text-align: left;
}
.symbol {
  font-size: 22px;
}
.symbol .fas {
  background-color: #00bcd4;
  shape-image-threshold: initial;
  color: #111827;
  border: 2px solid #00bcd4;
  border-radius: 50%;
}

.skills {
  color: #46c5fb;
  background-color: #172136;
  display: flow-root;
  padding: 15px;
  position: relative;
  transition: transform 0.5s;
  border-radius: 12px;
}
.skills:hover {
  transform: scale(1.1);
}
.projects {
  margin-top: 5%;
  margin-bottom: 10%;
}
.Button-1 {
  background-color: #111827;
  border: 1px solid #46c5fb;
  color: #46c5fb;
  font-weight: bold;
  padding: 6px 13px;
  border-radius: 2cm;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.file {
  width: 35%;
  border-radius: 0.5cm;
  float: left;
  transition: transform 0.2s;
  margin-right: 8%;
  margin-bottom: 3%;
}
.file-1 {
  width: 35%;
  border-radius: 0.5cm;
  float: right;
  transition: transform 0.2s;
  margin-left: 8%;
  margin-bottom: 3%;
}
.file:hover {
  transform: scale(1.2);
}
.file-1:hover {
  transform: scale(1.2);
}
.con {
  text-align: left;
  margin-top: 3%;
  display: flow-root;
}
.reveal {
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: 1s all ease;
  margin-bottom: 7%;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactinfo .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}
.container .contactinfo .box .icon {
  min-width: 50px;
  height: 50px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactinfo .box .text h3 {
  font-weight: 800;
  color: #00bcd4;
}
.contactform {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 800;
}
.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputbox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
  color: #00bcd4;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"] {
  width: 100px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .file {
    width: 100%;
  }
  .file-1 {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
    width: 100%;
  }
  .container .contactinfo {
    width: 100%;
  }
  form {
    display: none;
  }
  .contactform {
    display: none;
  }
}
@media only screen and (min-width: 300px) and (max-width: 490px) {
  .image {
    margin-top: 5%;
    width: 80%;
  }
  .content-text {
    margin-left: 10%;
    margin-right: 10%;
  }
  form {
    display: none;
  }
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
    width: 100%;
  }
  .container .contactinfo {
    width: 100%;
  }
  .contactform {
    display: none;
  }
}
